<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>FoodFashion</title>
</head>
<body>
    <h1 class="background heder">About Us</h1>
    <div class="background box">
        
    <div class="box1">
        <h1 >FoodFashion</h1>
        <div class="about-text">
            <p>Welcome to FoodFashion, your ultimate destination for delicious and convenient food delivery! At FoodFashion, we strive to bring you a culinary experience like no other, combining the art of cooking with the convenience of modern technology.</p>
            <p>Our mission is simple: to satisfy your cravings with a wide selection of mouthwatering dishes, delivered straight to your doorstep. Whether you're in the mood for savory classics or adventurous flavors, we've got you covered.</p>
            <p>With a team of passionate chefs and dedicated delivery professionals, we ensure that every meal is prepared with love and delivered with care. Quality, freshness, and customer satisfaction are our top priorities.</p>
          </div>

    </div>
    <div class="box2">
        <img src="/images/hello.png" alt="logo of foodfashion">
    </div>
</div>
</body>
</html> 


