<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/contac.css">
    <link rel="stylesheet" href="/stylesheets/display.css">
    <title>Document</title>
</head>
<body>
    <div class="main background">
        <div class="box card">
            <h2 class="heder">contactUs</h2>
            <form action="/contact" method="post">
            <input type="text" name="name" placeholder="Name" required="true" class="input">
            <input type="text" name="phone" placeholder="Mobile No" required="true" class="input">
            <input type="text" name="email" placeholder="Email Id" required="true" class="input">
            <textarea name="msg" id="" cols="30" rows="10" placeholder="Message" required="true" class="text"></textarea>
            <button class="btn">Submit</button>
        </form>
        </div>
    </div>
</body>
</html>