<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/order2.css">
    <title>foodfashion</title>
</head>

<body>
    <div class="main background">
        <form action="/final" method="post">
        <div class="box1">
            <div class="card">
                
            </div>
            <div class="button">
                <div class="money">
                    <h3>
                        <%=price%>
                    </h3>
                </div>
                <a href="">
                    <button class="btn">Order</button>
                </a>

            </div>
        </div>
    </form>
    </div>
</body>

</html>