<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/display.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-class">
            <li><a href="/" class="nav-heder">Home</a></li>
            <li><a href="/myorder" class="nav-heder">Myorder</a></li>
            <li><a href="/about" class="nav-heder">About</a></li>
            <li><a href="/contact" class="nav-heder">Contact Us</a></li>
        </ul>

        <div class="rightnav v-class">
            <a href="/profile">
                <i class="acount fa fa-user-circle fa-3x"></i>
            </a>
        </div>

        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <div class="main background">
        <div class="box2">
            <!-- text box -->
            <div class="left">
                <img src="/images/hello.png" alt="" class="heder">
                <p class="paragraph">We deliver healthy food that are ready to eat.
                    Just choose your own menu you like.
                </p>

                <div class="button">
                    <a href="/feedback"><button class="btn">Feedback</button></a>
                    <a href="/order"><button class="btn">Order</button></a>
                </div>
            </div>

            <!-- image box -->
            <div class="right ">
                <img src="/images/food2.png" alt="">

            </div>
        </div>

        <script src="/javascripts/profile.js"></script>
    </div>

    <!-- here to difine footer -->
    <footer class="footer background">
        <p class="text-footer">
            copyright &copy; 2024 www.foodfashion.onrender.com- All rights reserved
        </p>
    </footer>
</body>

</html>