<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/order.css">
    <link rel="stylesheet" href="/stylesheets/display.css">
    <title>Document</title>
</head>

<body>
    <div class="main background ">

        <form action="/order" method="post">
            <h1 class="order ">Order Menu</h1>
            <div class="card-body">

                <div class="card">
                    <div class="image">
                        <img src="/images/aalopokora.jpg">
                    </div>
                    <div class="text">
                        <h2 class="heder">Aalo-pakora</h2>
                        <p class="para-text">10 ka 4 pic</p>
                        <div class="hello">
                            <input type="checkbox" name="Aalo_pokora" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                        
                        
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/Egg-pokora.jpg" alt="Egg-pokora">
                    </div>
                    <div class="text">
                        <h2 class="heder">Egg-pokora</h2>
                        <p class="para-text">5 ka 1 pic</p>
                        <div class="hello">
                            <input type="checkbox" name="Egg_pokora" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/pokora.jpg">
                    </div>
                    <div class="text">
                        <h2 class="heder">Pokora</h2>
                        <p class="para-text">10 ka 10pic</p>
                        <div class="hello">
                            <input type="checkbox" name="pokora" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/boil-egg.jpg" alt="c with dsa">
                    </div>
                    <div class="text">
                        <h2 class="heder">Boil egg</h2>
                        <p class="para-text">10 ka 1pic</p>
                        <div class="hello">
                            <input type="checkbox" name="boil_egg" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/egg.jpg">
                    </div>
                    <div class="text">
                        <h2 class="heder">Kacha egg</h2>
                        <p class="para-text">8 ka 1pic</p>
                        <div class="hello">
                            <input type="checkbox" name="kacha_egg" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/egg-fry.jpg">
                    </div>
                    <div class="text">
                        <h2 class="heder">egg-fry</h2>
                        <p class="para-text">10 ka 1pic</p>
                        <div class="hello">
                            <input type="checkbox" name="Egg_fry" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/egg omeletee.jpg">
                    </div>
                    <div class="text">
                        <h2 class="heder">Egg omeletee</h2>
                        <p class="para-text">10 ka 1pic</p>
                        <div class="hello">
                            <input type="checkbox" name="Egg_omeletee" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/coch.jpg">
                    </div>
                    <div class="text">
                        <h2 class="heder">Egg coch</h2>
                        <p class="para-text">10 ka 1pic</p>
                        <div class="hello">
                            <input type="checkbox" name="Egg_coch" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/bred-pokora.jpg">
                    </div>
                    <div class="text">
                        <h2 class="heder">bred-pokora</h2>
                        <p class="para-text">Rs 5 per pic</p>
                        <div class="hello">
                            <input type="checkbox" name="bred_pokora" id="" placeholder="hello">
                            <h3>Add to Cart</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="address">
                <div class="adr">
                    <button class="btn">By Now</button>
                </div>
            </div>

        </form>
    </div>
</body>

</html>