<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/order.css">
    <title>Document</title>
</head>
<body>
    <div class="main background ">
        <form action="/order" method="post">
        <h1 class="order ">Order Menu</h1>
        <div class="card-body">
            
        <div class="card">
                <div class="image">
                    <img src="/images/aalopokora.jpg">
                </div>
                <div class="text">
                    <h2 class="heder">Aalo-pakora</h2>
                    <p class="para-text">10 ka 4 pic</p>
                    <input type="number" class="input" name="Aalo_pokora" placeholder="enter how much pic" min="4">
                </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/Egg-pokora.jpg" alt="Egg-pokora">
            </div>
            <div class="text">
                <h2 class="heder">Egg-pokora</h2>
                <p class="para-text">5 ka 1 pic</p>
                <input type="number" class="input" name="Egg_pokora" placeholder="enter how much pic" min="2" max="50">
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/pokora.jpg">
            </div>
            <div class="text">
                <h2 class="heder">Pokora</h2>
                <p class="para-text">10 ka 10pic</p>
                <input type="number" class="input" name="pokora" placeholder="enter how much pic" min="10" max="50">
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/boil-egg.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Boil egg</h2>
                <p class="para-text">10 ka 1pic</p>
                <input type="number" class="input" name="boil_egg" placeholder="enter how much pic" min="1" max="50">
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/egg.jpg">
            </div>
            <div class="text">
                <h2 class="heder">Kacha egg</h2>
                <p class="para-text">8 ka 1pic</p>
                <input type="number" class="input" name="kacha_egg" placeholder="enter how much pic" min="2" max="50">
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/egg-fry.jpg">
            </div>
            <div class="text">
                <h2 class="heder">egg-fry</h2>
                <p class="para-text">10 ka 1pic</p>
                <input type="number" class="input" name="Egg_fry" placeholder="enter how much pic" min="2" max="50">
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/egg omeletee.jpg">
            </div>
            <div class="text">
                <h2 class="heder">Egg omeletee</h2>
                <p class="para-text">10 ka 1pic</p>
                <input type="number" class="input" name="Egg_omeletee" placeholder="enter how much pic" min="1" max="50">
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/coch.jpg">
            </div>
            <div class="text">
                <h2 class="heder">Egg coch</h2>
                <p class="para-text">10 ka 1pic</p>
                <input type="number" class="input" name="Egg_coch" placeholder="enter how much pic" min="1" max="50">
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/bred-pokora.jpg">
            </div>
            <div class="text">
                <h2 class="heder">bred-pokora</h2>
                <p class="para-text">Rs 5 per pic</p>
                <input type="number" class="input" name="bred_pokora" placeholder="enter how much pic" min="2" max="50">
            </div>
        </div>
        
        <div class="card">
            <input type="text" name="address" class="loction"placeholder="Delivery Location" required="true">
            <input type="text" name="mobile_no"class="loction" placeholder="Mobile No" required="true">
        </div>

        <div class="btn2">
        <button class="btn order">Order Now</button>
        </div>
        </div>
</form>
    </div>
</body>
</html>